@import "tailwindcss";

@theme{
    --color-primary: #5956E9;
    --color-secondary: #7572FF;
    --color-heading: #232233;
    --color-paragraf: #6C6C72;
    --font-lato: "Lato", sans-serif;
    --color-sidebar: #00000080;
    --breakpoint-xs: 330px;
}

.pagination-swiper {
  padding-bottom: 60px !important;
}

.pagination-swiper .swiper-pagination {
  bottom: 0px !important;
}
